extends _templates/default

block content
  .content.brand-banner.brand-fixed
    .brand-zigzag
      h1.site-title
        include img/logo__text.svg

  .content
    .container
      .site-introduction
        p #[strong Avalanche UK] is a team of parents and adult gamers who've found mutual friendship through #[strong Destiny] on #[a(href='https://www.bungie.net/en/ClanV2?groupid=1486166', target='_top') #[strong Xbox]] and #[a(href='https://www.bungie.net/en/ClanV2?groupId=2584079', target='_top') #[strong PC]], our goal is to play the games we love with people who share our ethics. Everyone is welcome - as an inclusive clan, we are happy for everyone to be themselves, however we will not tolerate any abuse or discrimination of any other member. While fun is our main goal we also try to help new members rank up and progress as much as we can. So if you're an adult with or without commitments we could be the clan for you.
        +button(href='#find-out-more', target='_top', data-scroll) Find out more

  .content.brand-triangles.brand-breakout.brand-fixed
    .container
      .grid.grid--gutterless.grid--reverse
        .grid__item.tablet-one-half
          a(id='find-out-more', href='#find-out-more' data-target)
          .textblock.brand-gradient.brand-fixed
            .textblock__content
              h2.heading A common goal
              p Finally getting the last piece of raid armour you've been missing, that feels good. Finding a group that'll run the raid with you three times a week until you finally get it, that's golden.
        .grid__item.tablet-one-half
          .textblock.textblock--image.textblock--breakout(style='background-image: url(/img/homepage-1.jpg)')
      .grid.grid--gutterless
        .grid__item.tablet-one-half
          .textblock
            .textblock__content
              h2.heading Team spirit
              p But finding a group that can wait on crying children, discusses how to earn enough brownie points to make it online for release nights, and knows that the real Moment of Triumph comes from knowing that every clan member who wanted them got them, now that's Avalanche UK.
        .grid__item.tablet-one-half
          .textblock.textblock--image(style='background-image: url(/img/homepage-2.jpg)')
      .grid.grid--gutterless.grid--reverse
        .grid__item.desktop-one-half
          a(id='join-us', href='#join-us', data-target)
          .textblock.textblock--alternate
            .textblock__content
              h2.heading Come join us
              p We're hardcore casuals, we're laidback diehards, and we've got the room for like minded souls. Join us on Discord, join the madness, join the clan you've been looking for.
              p
                +button(href='https://discord.avaclanche.uk', target='_top') Discord (Xbox)
                +button(href='https://discord.avaclanche.uk/pc', target='_top') Discord (PC)

  if streamers
    - streamers = streamers.sort(function (a, b) { return a.name.toLowerCase() === b.name.toLowerCase() ? 0 : a.name.toLowerCase() < b.name.toLowerCase() ? -1 : 1 })
    .content.brand-triangles.brand-fixed
      .section-header.brand-gradient.brand-fixed
        h2.heading See some of us in action
      .container
        .grid.grid--gutterless
          each streamer, index in streamers
            if !streamer.disabled
              - streamer.image = '/img/member--' + streamer.name.toLowerCase().replace(/ /g, '-') + '.jpg'

              .grid__item.fablet-one-half.desktop-one-quarter
                a.member(href=streamer.url, class=index % 2 === 0 ? 'member--alt': '', target='_top')
                  img.member__image(src=streamer.image, alt=streamer.name + ' in action', loading='lazy')
                  .member__content
                    h3.member__name
                      span.member__detail= streamer.name
                    p.member__label
                      span.member__detail!= streamer.label || '&nbsp;'

  //- .content.brand-transparent.brand-destiny-daily.brand-fixed
    .container
      .site-introduction
        p.svg-logo
          include img/logo--destiny-daily.svg
        p We run the only website you'll ever need to visit to see all the Daily and Weekly activities Destiny has to offer.
        +button(href='http://www.destiny-daily.com', target='_top') Visit Destiny Daily

  //- .textblock.textblock--auto.brand-transparent.brand-guardian-outfitter.brand-fixed
    .textblock__content.container
      p.svg-logo
        include img/logo--guardian-outfitter.svg
      h2.heading Guardian Outfitter
      p We also help the Guardian-around-town keep track of all those Emblems, Shader, Ships, and Sparrows, that are missing from their collections.
      +button(href='https://www.guardianoutfitter.com', target='_top') Visit Guardian Outfitter

  //- .content.brand-transparent.brand-destiny-clan-warfare.brand-fixed
    .container
      .site-introduction
        p.svg-logo
          include img/logo--destiny-clan-warfare.svg
        h2.heading Destiny Clan Warfare
        p The ultimate website for clan battles &amp; competition in Destiny 2. Wage war against other clans and battle your way to the top of the Destiny 2 clan leaderboard.
        +button(href='https://destinyclanwarfare.com', target='_top') Visit Destiny Clan Warfare

  //- .textblock.textblock--auto.brand-transparent.brand-destiny-daily.brand-fixed
    .textblock__content.container
      p.svg-logo
        include img/logo--destiny-daily.svg
      h2.heading Destiny Daily
      p We also run the only website you'll ever need to visit to see all the Daily and Weekly activities Destiny has to offer.
      +button(href='http://www.destiny-daily.com', target='_top') Visit Destiny Daily
