extends _templates/default

block content
  .content.brand-banner
    h1.site-title
      include img/logo__text.svg

  .content
    .container
      .site-introduction
        p #[strong Avalanche UK] is a team of parents and adult gamers who've found mutual friendship through #[strong Destiny] on #[strong Xbox One], our goal is to play the games we love with people who share our ethics. While fun is our main goal we also try to help new members rank up and progress as much as we can. So if you're an adult with or without commitments we could be the clan for you.
        +button(href='#team-spirit', data-scroll) Find out more

  .content.brand-triangles.brand-breakout.brand-fixed
    .container
      .grid.grid--gutterless.grid--reverse
        .grid__item.tablet-one-half
          .textblock.brand-gradient.brand-fixed(id='team-spirit')
            .textblock__content
              h2.heading Team spirit
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed eros faucibus, varius elit nec, auctor enim. Sed eget enim sed nisi aliquet consectetur non sit amet lacus. Proin dignissim commodo turpis, eget elementum diam porta vel. Vivamus mollis nisl eget ipsum accumsan, in auctor velit pulvinar.
        .grid__item.tablet-one-half
          .textblock.textblock--image.textblock--breakout(style='background-image: url(/img/homepage-1.jpg)')
      .grid.grid--gutterless
        .grid__item.tablet-one-half
          .textblock(id='common-goal')
            .textblock__content
              h2.heading A common goal
              p Proin laoreet tempus lectus, nec laoreet ante fringilla vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae felis velit. Phasellus in egestas dolor.
        .grid__item.tablet-one-half
          .textblock.textblock--image(style='background-image: url(/img/homepage-2.jpg)')
      .grid.grid--gutterless.grid--reverse
        .grid__item.desktop-one-half
          .textblock.textblock--alternate(id='join-us')
            .textblock__content
              h2.heading Come join us
              p Sed finibus dictum pharetra. Quisque id sodales lorem, quis fringilla urna. Curabitur mollis turpis quis massa porta tristique.
              p
                +button.button--alt(href='https://www.bungie.net/en/Clan/Detail/1486166') Bungie.net
                +button.button--alt(href='http://slack.avaclanche.uk/') Slack chat
        .grid__item.desktop-one-half

  if streamers
    - streamers = streamers.sort(function (a, b) { return a.name.toLowerCase() === b.name.toLowerCase() ? 0 : a.name.toLowerCase() < b.name.toLowerCase() ? -1 : 1 })
    .content.brand-triangles.brand-gradient.brand-fixed(id='streams')
      .section-header.brand-gradient.brand-fixed
        h2.heading See some of us in action
      .container
        .grid.grid--gutterless
          each streamer, index in streamers
            - streamer.image = '/img/member--' + streamer.name.toLowerCase().replace(/ /g, '-') + '.jpg'

            .grid__item.fablet-one-half.desktop-one-quarter
              a.member(href=streamer.url, class=index % 2 === 0 ? 'member--alt': '')
                img.member__image(src=streamer.image, alt=streamer.name + ' in action')
                .member__content
                  h3.member__name
                    span.member__detail= streamer.name
                  p.member__label
                    span.member__detail!= streamer.label || '&nbsp;'
